smtpd_banner = $myhostname ESMTP $mail_name
biff = no
append_dot_mydomain = no
readme_directory = no

myhostname = {{ postfix_conf.myhostname }}
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
myorigin = {{ postfix_conf.myorigin }}
{% if postfix_conf.mydestination is defined %}
mydestination = {{ postfix_conf.mydestination }}
{% else %}
mydestination = localhost
{% endif %}
{% if postfix_conf.relayhost is defined  %}
relayhost = [{{ postfix_conf.relayhost | default("") }}]:{{ postfix_conf.relayport | default("25") }}
{% else %}
relayhost =
{% endif %}
mynetworks = 127.0.0.0/8 [::ffff:127.0.0.0]/104 [::1]/128
mailbox_size_limit = 0
recipient_delimiter = +
inet_interfaces = loopback-only
inet_protocols = {{ postfix_conf.inet_protocols | default("all") }}
compatibility_level = {{ postfix_conf.compatibility_level | default("0") }}
{% if postfix_conf.lmtp_host_lookup is defined %}
lmtp_host_lookup = native
{% endif %}
{% if postfix_conf.smtp_host_lookup is defined %}
smtp_host_lookup = native
{% endif %}
{% if postfix_conf.smtp_tls is defined %}
smtp_tls_session_cache_database = btree:/var/lib/postfix/smtp_scache
tls_random_source = dev:/dev/urandom
smtp_tls_loglevel = 1
{% endif %}
{% if postfix_conf.smtp_sasl is defined %}
smtp_sasl_auth_enable = yes
smtp_sasl_security_options = noanonymous
smtp_sasl_password_maps = hash:{{ sasl_passwd }}
smtp_use_tls = yes
smtp_tls_note_starttls_offer = yes
smtp_tls_CAfile = /etc/ssl/certs/ca-certificates.crt
{% endif %}
{% if postfix_conf.smtp_sasl is defined %}
smtp_tls_security_level = encrypt
{% else  %}
smtp_tls_security_level = may
{% endif %}
{% if postfix_conf.generic_table is defined %}
smtp_generic_maps = hash:{{ generic_table }}
{% endif %}

{% if ansible_facts["os_family"] == "Suse" %}
# suse specific parameter
setgid_group = maildrop
daemon_directory = /usr/lib/postfix
{% endif %}
